In [23]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

navegador = webdriver.Chrome()

# Passo 1: pegar a cotaão do dola
# - entrar no google
navegador.get("https://www.google.com/")

navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação dolar")

navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_dolar = navegador.find_element('xpath',
                '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_dolar)

# Passo 2: pegar a cotação do euro
navegador.get("https://www.google.com/")

navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys("Cotação euro")

navegador.find_element('xpath',
                       '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/input').send_keys(Keys.ENTER)

cotacao_euro = navegador.find_element('xpath',
                '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_euro)

# Passo 3: pegar a cotação do ouro
navegador.get("https://www.melhorcambio.com/ouro-hoje")

cotacao_ouro = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
cotacao_ouro = cotacao_ouro.replace(",", ".")
print(cotacao_ouro)

navegador.quit()

5.0961
5.528177934
311.58

In [24]:
# Passo 4:Importa a base de dados e Atualizar a base
import pandas as pd

tabela = pd.read_excel(r"C:\Users\pedro\Documents\Jupyter\Jupyter Aula 3\Arquivos\Produtos.xlsx")

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

In [32]:
# Passo 5: Recalcular os preços

# Atualizar a cotacao
tabela.loc[tabela["Moeda"] == "Dólar", "Cotação"] = float(cotacao_dolar)
tabela.loc[tabela["Moeda"] == "Euro", "Cotação"] = float(cotacao_euro)
tabela.loc[tabela["Moeda"] == "Ouro", "Cotação"] = float(cotacao_ouro)

# recalcular os preços

# preço de compra = cotaçao * preco original
tabela["Preço de Compra"] = tabela["Cotação"] * tabela["Preço Original"]

#preço de vendas = preço de compras * margem
tabela["Preço de Vendas"] = tabela["Preço de Compra"] * tabela["Margem"]
#tabela["Preço de Vendas"] = tabela["Preço de Compra"].map("R${:.2f}".format)

display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda,Preço de Vendas
0,Câmera Canon,999.99,Dólar,5.096100,5096.049039,1.40,6999.930,7134.468655
1,Carro Renault,4500.00,Euro,5.528178,24876.800703,2.00,54000.000,49753.601406
2,Notebook Dell,899.99,Dólar,5.096100,4586.439039,1.70,7649.915,7796.946366
3,IPhone,799.00,Dólar,5.096100,4071.783900,1.70,6791.500,6922.032630
4,Carro Fiat,3000.00,Euro,5.528178,16584.533802,1.90,34200.000,31510.614224
5,Celular Xiaomi,480.48,Dólar,5.096100,2448.574128,2.00,4804.800,4897.148256
6,Joia 20g,20.00,Ouro,311.580000,6231.600000,1.15,8050.000,7166.340000

In [26]:
# Passo 6: Exportar a base atualixada
tabela.to_excel("Produtos Novo.xlsx", index=False)

In [27]:
#instalar o selenium
#!pip install selenium